@import "./icon.styl"
html,body
  //font-size 0.28rem
  font-family:"Microsoft YaHei",Arial,"ArialMT","Helvetica Neue", Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom 0.8rem